<section class="human-section">
<div class="human-section-information">
  <span class="human-section-information__elem">ФИО: {{human.FIO}}</span>
  <span class="human-section-information__elem">Адрес пользователя: {{human.address}}</span>
</div>

<div class="human-section-input">
<div class="human-section-input__elem">
  <label for="address" >Введите Ваш адрес: </label>
  <ngx-dadata [config]="configAddress" id="address" [(ngModel)]="human.address" ></ngx-dadata>
</div>
  <div class="human-section-input__elem">
    <label for="fio">Введите ФИО: </label>
    <ngx-dadata  [config]="configFio" id="fio" [(ngModel)]="human.FIO" ></ngx-dadata>
  </div>
</div>
</section>

