<section class="human-section">
<div class="human-section-information">
  <span class="human-section-information__elem">Фамилия пользователя: </span>{{human.surname}}
  <span class="human-section-information__elem">Имя пользователя: </span>{{human.name}}
  <span class="human-section-information__elem">Отчество пользователя: </span>{{human.patronymic}}
</div>

<div class="human-section-input">
<div class="human-section-input__elem">
  <label class="label" for="surname">Фамилия</label>
  <input id="surname" name="surname" type="text" class="input" [(ngModel)]="human.surname" placeholder="Фамилия">
</div>
<div class="human-section-input__elem">
  <label class="label label-name" for="name">Имя</label>
  <input id="name" name="name" type="text" class="input" [(ngModel)]="human.name" placeholder="Имя">
</div>
<div class="human-section-input__elem">
  <label class="label" for="patronymic">Отчество</label>
  <input id="patronymic" name="patronymic" type="text" class="input" [(ngModel)]="human.patronymic" placeholder="Отчество">
</div>
</div>
</section>

